// Fonts
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);
@import "node_modules/materialize-css/sass/components/color"; // Variables
@import "variables"; // Bootstrap
@import "node_modules/materialize-css/sass/materialize";

.dropdown-content li > a,
.dropdown-content li > span {
    color: #000000;
}

body{
    background-color: color('orange','lighten-5');
}

nav ul a {
    color: #000000;
}

.spinner{
    @extend .progress;
    margin: 0;
}
.spinner-fixed{
    width: 100%;
    position: fixed;
    z-index: 998;
}